.subtitle {
    display: flex;
    background-color: rgb(66, 30, 0);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    margin: 5px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

li {
    padding: 5px 0;
}

.keynote-speakers-grid {
    display: grid;
    margin: 20px 0;
    margin-bottom: 80px;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.keynote-speaker-small-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-position: center;
    padding: 10px;
}

.keynote-speaker-picture {
    width: 100%;
    max-width: 150px;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;
}

.keynote-speaker-name {
    font-weight: bold;
    text-indent: 0;
    margin: 0;
    text-align: center;
}

.keynote-speaker-university {
    text-indent: 0;
    margin: 0;
    font-size: small;
}

@media (max-width: 1000px) {
    .keynote-speakers-grid {
        grid-template-columns: 1fr;
    }
}
